<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.todolist.todolist">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".utils.BaseApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/todo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="todolist" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity"/>
        <activity android:name=".activities.AddTodoItemActivity"/>
        <activity android:name=".activities.SearchActivity"/>

        <receiver android:name=".receivers.AlarmReceiver" />

    </application>

</manifest>